@import "tailwindcss";

body {
  background-color: #0f0202;
  color: white;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0202;
}
::-webkit-scrollbar-thumb {
  background: #3d0a0a;
  border-radius: 10px;
}